:host {
    display: block;

    section {
        padding: var(--theme-h1) 0;
        text-align: center;

        h1, h2 {
            position: relative;
            text-transform: uppercase;

            &::after {
                position: absolute;
                bottom: -12px;
                width: 40%;
                left: 30%;
                height: 2px;
                background-color: var(--theme-color);
                content: "";
            }
        }

        h2 {
            display: inline-block;
            font-size: 32px;
            font-weight: 200;
            letter-spacing: 2px;
            margin-bottom: var(--theme-h1);
        }

        h3 {
            font-size: 24px;
            font-weight: 500;

            + p {
                font-weight: 200;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }

    .contained {
        margin: 0 auto;
        max-width: var(--vsk-wrapper--max-width);
    }

    .get-started {
        padding: 0;
        overflow: hidden;

        .bg {
            height: 100vh;
            width: 100%;
            background-image: url(Media/top.jpg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
	        animation: top 90s ease-out both;

            .overlay {
                background-color: rgba(0, 0, 0, 0.65);
            }
        }

        .start {
            text-align: center;

            h1 {
                color: white;
                font-size: 48px;
                margin: 0 0 var(--theme-h1) 0;
                font-weight: 300;
                letter-spacing: 4px;
            }
    
            button {
                display: inline-block;
                text-transform: uppercase;
                line-height: var(--theme-h1);
                padding: 0 var(--theme-h2);
                font-weight: 600;
            }
        }
    }

    .features {
        background-color: #f5f5f5;
        padding-bottom: 80px;

        vi-grid {
            --vi-grid-desktop-gutter: var(--theme-h1);
            --vi-grid-tablet-gutter: var(--theme-h2);
            --vi-grid-phone-gutter: var(--theme-h3);
        }

        vi-scroll-intersection[intersected] .feature {
            animation: feature 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        .feature {
            background-color: white;
            box-shadow: 6px 12px 24px 3px rgba(170, 170, 170, 0.4);
            padding: var(--theme-h2) var(--theme-h4);
            opacity: 0;

            svg {
                width: 64px;
                height: 64px;
                padding: var(--theme-h3);
                fill: var(--theme-color);
            }

            a {
                display: inline-block;
                background-color: var(--theme-color);
                padding: var(--theme-h4) var(--theme-h2);
                color: white;
                margin-top: 18px;
                cursor: pointer;
            }

            @for $i from 2 through 6 {
                &:nth-child(#{$i}) {
                    animation-delay: calc(0.1s * #{$i}) !important;
                }
            }
        }
    }

    .team {
        position: relative;
        background-image: repeating-linear-gradient(to bottom right, var(--theme-color) 0, var(--theme-accent-color));
        padding: 70px 0 80px 0;

        &::before {
            position: absolute;
            top: -35px;
            left: 0;
            content: "";
            background-color: #f5f5f5;
            height: 70px;
            width: 101%;
            transform: rotate(-1.7deg);
        }

        &::after{
            position: absolute;
            bottom: -35px;
            left: 0;
            content: "";
            background-color: white;
            height: 70px;
            width: 101%;
            transform: rotate(-1.7deg);
        }

        h2 {
            color: white;
        }

        vi-grid {
            --vi-grid-desktop-gutter: var(--theme-h1);
            --vi-grid-tablet-gutter: var(--theme-h2);
            --vi-grid-phone-gutter: var(--theme-h3);
        }
        
        vi-scroll-intersection[intersected] .member {
            animation: member 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        .member {
            opacity: 0;

            img {
                width: 128px;
                height: 128px;
                border-radius: 50%;
            }

            h3 {
                margin-bottom: var(--theme-h5);
                color: white;
            }

            h4 {
                margin: 0;
                color: white;
            }

            @for $i from 2 through 7 {
                &:nth-child(#{$i}) {
                    animation-delay: calc(0.15s * #{$i}) !important;
                }
            }
        }
    }

    .contact {
        padding-top: 20px;

        vsk-contact {
            max-width: 700px;
            margin: 0 auto;
        }
    }

    footer {
        background-color: #333;
        color: white;
        text-align: center;
        line-height: calc(var(--theme-h1) * 2);
        font-size: 16px;
    }
}

  @keyframes top {
    0% {
        transform: scale(1) translateY(0);
        transform-origin: 50% 46%;
    }
    100% {
        transform: scale(1.5) translateY(-5px);
        transform-origin: top;
    }
  }  

  @keyframes feature {
    0% {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
  }
  
  @keyframes member {
    0% {
        transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
  }